.background-box{
    
    width: 100%;
    height: 87.4097vh;

    .title{
        font-weight: 600;
        font-size: 43.95px;
        color: white;
        text-align: center;
    }
    
    .benefits-circle{
        height: 45vh;
        width: 23vw;
        border-radius: 50%;
        border: 1.66px solid rgba(52, 86, 255, 1);
    }
}