<div class="background-box">
    <p class="title">Benefits</p>
    
        <div class="benefits-circle">
            <img class="benefits-circle-svg" src="../../../assets/icon-svg/circle-icon.svg" alt="circle-icon">
            <img class="check-mark-icon" src="../../../assets/icon-svg/check-mark-icon.svg" alt="check-mark-icon">
            <div class="dots-square">
                <div class="top row-dots">
                    <img src="../../../assets/icon-svg/dots/one-dot.svg" alt="one-dot-icon">
                    <img src="../../../assets/icon-svg/dots/one-dot.svg" alt="one-dot-icon">
                </div>
    
                <div class="bottom row-dots">
                    <img src="../../../assets/icon-svg/dots/one-dot.svg" alt="one-dot-icon">
                    <img src="../../../assets/icon-svg/dots/one-dot.svg" alt="one-dot-icon">
                </div>
            </div>
        </div>
</div>
