.background-box{

    height: 127.45vh;
    width: 100%;
    background: #070928;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header{
        font-weight: 600;
        font-size: 43.95px;
        line-height: 66px;
        color: rgba(255, 255, 255, 1);
        padding-top: 100px;
        padding-bottom: 64.5px;
        margin: 0;
    }

    .service-cards{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .card{
            margin-left: 42.5px;
            margin-right: 42.5px;
            margin-top: 35.5px;
            margin-bottom: 35.5px;
        }
    }
}
