.container{

    // margin-top:26.52vh;
    height: 56.3746vh;


    display: flex;
    align-items: center;
    justify-content: center;
    // width:  81.5067vw;

    // display: flex;
    // align-items: center;
    // justify-content: center;

    .content{
        width: 38.28125vw;
        color: rgba(248, 248, 250, 1);
        .header{
            font-weight: 600;
            font-size: 68.66px;
            line-height: 103px;
        }
        .body{
            font-weight: 400;
            font-size: 28.13px;
            line-height: 42px;
        }
    }
    // .icon{
    //     height: 100%;
    //     img{
    //         width: 100%;
    //     }
    // }
}