<div class="background-box">

    <p class="title">Easy Payment</p>
    <p class="secondery-title">Flexible payment options</p>

    <div class="icons">
        <img class="icon visa-card" src="../../../assets/icon-svg/visa-card-icon.svg" alt="visa-card-icon">
        <img class="icon bitcoin" src="../../../assets/icon-svg/bitcoin-icon.svg" alt="bitcoin-icon">
        <img class="icon master-card" src="../../../assets/icon-svg/master-card-icon.svg" alt="master-card-icon">
    </div>
    <p class="bitcoin-description"> Bitcoin payments are not refundable.</p>
</div>
