<div class="background-box">

    <p class="title">VPS Start Plan</p>
    <p class="secondery-title"> 1 vCPU Core 1024 MB Memory 25 GB Storage</p>

    <div class="cards">
        <app-card class="card" *ngFor="let card of cardsData"
            [iconPath]="card.iconPath"
            [title]="card.title"
            [body]="card.body"
            [cssVariables]="cardCssVariables">
        </app-card> 
    </div>
    <img class="shield-icon" src="../../../assets/icon-svg/shield-icon.svg" alt="shield-icon">
    <p class="shield-title">At the end of service, we <span style="color:rgba(52, 86, 255, 1) ;">destroy</span> all your data to
    maintain privacy and security.</p>
</div>
