<div class="atendi-web">

    <!-- solar-system-overlay -->
    <app-solar-system-overlay></app-solar-system-overlay>

    <!-- stars-overlay -->
    <app-star-group-overlay></app-star-group-overlay>

    <app-nav-bar (pageTarget)="scrollToPage($event)"></app-nav-bar>
    
    <div class="pages">
        <app-main-page id="main"></app-main-page>
        <app-services-page id="service"></app-services-page>
        <app-benefits-page id="benefits"></app-benefits-page>
        <app-start-page id="start"></app-start-page>
        <app-payment-section></app-payment-section>
        <app-contact-page id="contact"></app-contact-page>
    </div>
   
    <div class="copyright-section">
        <p>Copyright ®2022 | All Rights Reserved</p>
    </div>
</div>