<div class="atendi-web">

    <!-- solar-system-overlay -->
    <img class="solar-system-1" src="../assets/icon-svg/solar-system/solar-system-1.svg" alt="solar">
    <img class="solar-system-2" src="../assets/icon-svg/solar-system/solar-system-2.svg" alt="solar">
    <img class="solar-system-3" src="../assets/icon-svg/solar-system/solar-system-3.svg" alt="solar">
    <img class="solar-system-4" src="../assets/icon-svg/solar-system/solar-system-4.svg" alt="solar">
    <img class="solar-system-5" src="../assets/icon-svg/solar-system/solar-system-5.svg" alt="solar">
    <img class="solar-system-6" src="../assets/icon-svg/solar-system/solar-system-6.svg" alt="solar">
    <img class="solar-system-7" src="../assets/icon-svg/solar-system/solar-system-7.svg" alt="solar">
    <img class="solar-system-8" src="../assets/icon-svg/solar-system/solar-system-8.svg" alt="solar">
    <img class="solar-system-9" src="../assets/icon-svg/solar-system/solar-system-9.svg" alt="solar">
    <!-- solar-system-overlay -->


    <!-- stars-overlay -->
    <img class="star-group-1" src="../assets/icon-svg/stars/star-group-1.svg" alt="stars">
    <img class="star-group-2" src="../assets/icon-svg/stars/star-group-2.svg" alt="stars">
    <img class="star-group-4" src="../assets/icon-svg/stars/star-group-4.svg" alt="stars">
    <img class="star-group-5" src="../assets/icon-svg/stars/star-group-5.svg" alt="stars">
    <!-- stars-overlay -->

    <app-nav-bar (pageTarget)="scrollToPage($event)"></app-nav-bar>

    <app-main-page id="main"></app-main-page>
    <app-services-page id="service"></app-services-page>
    <app-benefits-page id="benefits"></app-benefits-page>
    <app-start-page id="start"></app-start-page>
    <app-payment-section></app-payment-section>
    <app-contact-page id="contact"></app-contact-page>

    

    <div class="copyright-section">
        <p>Copyright ®2022 | All Rights Reserved</p>
    </div>
</div>