.atendi-web{
    background: linear-gradient(180deg, #070928 0%, #3456FF 100%);
    height: 684.87vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
}
.copyright-section{

    height: 9.9391vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p{
        
        font-weight: 400;
        font-size: 0.9375vw;
        color: white;
    }
}
.solar-system-1{
    position: absolute;
    width: 38.028645vw;
    height: 75.350877vh;
    top: 56.1403vh;
    left: -8vw;
    
}

.solar-system-2{
    position: absolute;
    width: 32.028645vw;
    height: 85.350877vh;
    top: 86.274509vh;
    right: 0;
    object-fit: cover;
}

.solar-system-3{
    position: absolute;
    width: 24.028645vw;
    height: 90.350877vh;
    top: 168.884416vh;
    object-fit: cover;
}

.solar-system-4{
    position: absolute;
    width: 34.028645vw;
    height: 85.350877vh;
    top:  236.69659vh;
    right: 0;
    object-fit: cover;
}

.solar-system-5{
    position: absolute;
    width: 22.028645vw;
    height: 90.350877vh;
    top: 310.67285vh;
    object-fit: cover;
}

.solar-system-6{
    position: absolute;
    width: 32.028645vw;
    height: 90.350877vh;
    top: 366.67285vh;
    right: 0;
    object-fit: cover;
}

.solar-system-7{
    position: absolute;
    width: 31.028645vw;
    height: 90.350877vh;
    top:  484.88751vh;
    object-fit: cover;
}

.solar-system-8{
    position: absolute;
    width: 20.028645vw;
    height: 80.350877vh;
    top:  560.88751vh;
    right: 0;
    object-fit: cover;
}

.solar-system-9{
    position: absolute;
    width: 18.028645vw;
    height: 73.350877vh;
    top: 610.88751vh;
    object-fit: cover;
}

.stars{
    animation: ease fadeIn 1.8s infinite;
}

@keyframes fadeIn {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}

.star-group-1{
    top: 114.035087vh;
    left: 3.59375vw;
    position: absolute;
}

.star-group-2{
    top: 208.199174vh;
    left: 3.59375vw;
    position: absolute;
}

.star-group-4{
    top:  424.81940144vh;
    left: 3.59375vw;
    position: absolute;
}

.star-group-5{
    top: 535.09184vh;
    left: 3.59375vw;
    position: absolute;
}