.nav-bar{

    position: sticky;
    width: 97.5vw;
    left: 1.25vw;
    top: 0.9vw;
    display: grid;
    align-items: center;
    grid-template-columns:  51.1vw repeat(5,1fr) 9.1vw;
    grid-template-rows: 8.15vh;
    
    background-image: linear-gradient(90deg, #070928 5.01%, rgba(29, 47, 146, 0.5) 49.6%, #070928 97.58%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 1.03vh;
    

    //border: 3px solid;
    //border-image-source: linear-gradient(90.19deg, rgba(56, 115, 249, 0.4) -1.41%, #070928 45.08%, rgba(56, 115, 249, 0.4) 102.15%);
    a{
        justify-self: center;
        font-size: 1.9vh;
        color: #F8F8FA;
        text-decoration: none;
    }

    a:hover:not(.web-icon){
        color: #7484FD;
    }

    a:active:not(.web-icon){
        color: #7484FD;
    }

    .web-icon{
        justify-self: left;
        font-size: 2.75vh;
        margin-left: 9.1vw;
    }
    .contact{
        border: 0.25vh solid rgba(248, 248, 250, 1);
        border-radius: 25px;
        padding: 0.6vh 0.98vw;
    }
    .contact:active{
        border: 2px solid #7484FD;
    }
    .contact:hover{
        border: 2px solid #7484FD;
    }
}