<div class="solar-systems">
    <img class="solar-system-1" src="../assets/icon-svg/solar-system/solar-system-1.svg" alt="solar">
    <img class="solar-system-2" src="../assets/icon-svg/solar-system/solar-system-2.svg" alt="solar">
    <img class="solar-system-3" src="../assets/icon-svg/solar-system/solar-system-3.svg" alt="solar">
    <img class="solar-system-4" src="../assets/icon-svg/solar-system/solar-system-4.svg" alt="solar">
    <img class="solar-system-5" src="../assets/icon-svg/solar-system/solar-system-5.svg" alt="solar">
    <img class="solar-system-6" src="../assets/icon-svg/solar-system/solar-system-6.svg" alt="solar">
    <img class="solar-system-7" src="../assets/icon-svg/solar-system/solar-system-7.svg" alt="solar">
    <img class="solar-system-8" src="../assets/icon-svg/solar-system/solar-system-8.svg" alt="solar">
    <img class="solar-system-9" src="../assets/icon-svg/solar-system/solar-system-9.svg" alt="solar">
</div>
