
<!-- <app-card class="problem-card"
[cssVariables]="problemCardCssVariables"
[iconPath]="'none'"
[title]="'The Problem'"
[body]="'The global economy environment creates unique challenges that require new solutions. Virtual workspace is becoming a necessity, rather than luxury. There is a necessary for '"></app-card>

<div class="exp-card">
    <app-card *ngFor="let card of cardsData" class="card"
    [cssVariables]="expCardCssVariables"
    [iconPath]="card.iconPath"
    [title]="card.title"
    [body]="card.body"></app-card>
</div> -->