/* You can add global styles to this file, and also import other style files */
html{
    font-family: 'Poppins';
    letter-spacing: 2px;
    overflow: overlay;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.566);
    border-radius: 10px;
}