<div class="card-body" >
    <div class="card-content">
        <div class="icon" *ngIf="iconPath != 'none'">
            <img [src]="iconPath" alt="icon">
        </div>
        <div class="title">
            <p>{{title}}</p>
        </div>
        <div class="body">
            <p>{{body}}</p>
        </div>
    </div>
   
</div>

<!-- [ngStyle]="{'background': cssVariables.backgroundColor, 
'height':cssVariables.height,
'width':cssVariables.width,
'border-radius':cssVariables.borderRadius}" -->
