<div class="background-box">

    <p class="title">Ready to Get Started?</p>
    <p class="secondery-title">Let us know how to get in touch with you.
    We will contact you within 24 hrs.</p>

    <form class="form" [formGroup]="userData">

        <div class="row">
            <input id="first-name" type="text" formControlName="firstName" placeholder="First name">
            <input id="last-name" type="text" formControlName="lastName" placeholder="Last name">
        </div>

        <div class="row">
            <input name="email" id="email" type="email" formControlName="email" placeholder="Email*" required>

            <app-tooltip
            class="email-tooltip"
            *ngIf="userData.controls['email'].errors && userData.controls['email'].touched || !isFormValid"
            [context]="'email is required'"></app-tooltip>
        </div>

        <div class="row" >
            <input id="phone" type="text" formControlName="phone" placeholder="Phone">
            <!-- <select name="countries" id="countries">
                <option *ngFor="let country of countries"
                [value]="country.name">{{country.name}}</option>
            </select> -->
            <app-dropdown [dropDownName]="'country'"
            [valuesList]="countriesList"></app-dropdown>   
        </div>
    </form>
    <app-button class="btn" [context]="'Lets Tallk'" (click)="sendData(userData.controls['email'].errors)" ></app-button>

 
</div>
